{% extends "layout.html" %}

{% block title %}
    New password
{% endblock %}

{% block main %}
<body id="apology_bg">
<form action="/new_password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" required placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="password" required placeholder="New password" minlength="4" maxlength="12" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="confirmation" required placeholder="Confirm password" minlength="4" maxlength="12" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
</body>
{% endblock %}